<!-- Primary Content Layout -->

    <div class="content pure-u-1 pure-u-md-3-4">

<!-- Template of the descrition of a museum -->
{{#each data}}
<section class='post'>
    <header class='post-header'>
        <h2 class='post-title'>{{denominazione_museo}}</h2>

                        <p class='post-meta'>
                            By <a class='post-author' href='{{#if sito_web_sede includeZero=true}}
                            {{sito_web_sede}}
                            {{/if}}'>
                            {{comune_sede}}
                            </a>
                        </p>

                    </header>
                    <div class='post-description'>
                        <p>
                            {{denominazione_sede}}
                        </p>
                    </div>
                </section>
{{/each}}

            <!-- A wrapper for all the blog posts -->
            <div class="posts">
                
            </div>

            <div class="footer">
                <div class="pure-menu pure-menu-horizontal">
                    <ul>
                        <li class="pure-menu-item"><a href="http://purecss.io/" class="pure-menu-link">About</a></li>
                        <li class="pure-menu-item"><a href="http://twitter.com/yuilibrary/" class="pure-menu-link">Twitter</a></li>
                        <li class="pure-menu-item"><a href="http://github.com/pure-css/pure/" class="pure-menu-link">GitHub</a></li>
                    </ul>
                </div>
            </div>

</div>