<!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="section values">
    <div class="container">
    	<div class="row">
    	 	<div class="one-third column value">
            <h5 class="value-heading">{{data.title}}</h5>

            </div>
        </div>
        
    </div>
  </div>