   <!-- Primary Content Layout -->

   <div class="content pure-u-1 pure-u-md-3-4">
<select>
  <option value="BS">Brescia</option>
  <option value="BG">Bergamo</option>
  <option value="CR">Cremona</option>
  <option value="MI">Milano</option>
</select>

        <h2>Mappa dei musei della Lombardia</h2>
        <div id="map" style="width:400px;height:400px">
        </div>


            <!-- A wrapper for all the blog posts -->
            <div class="posts">
                
            </div>

            <div class="footer">
                <div class="pure-menu pure-menu-horizontal">
                    <ul>
                        <li class="pure-menu-item"><a href="http://purecss.io/" class="pure-menu-link">About</a></li>
                        <li class="pure-menu-item"><a href="http://twitter.com/yuilibrary/" class="pure-menu-link">Twitter</a></li>
                        <li class="pure-menu-item"><a href="http://github.com/pure-css/pure/" class="pure-menu-link">GitHub</a></li>
                    </ul>
                </div>
            </div>

</div>

<!-- L'import di uno script è possibile con ES6 ma è soggetto a precise limitazioni. Ad esempio è necessario importare lo script in una sezione di tipo module e scegliere se gli header debbano essere inclusi nella chiamata attraverso l'attributo crossorigin-->
<!-- <script type="module" crossorigin="anonymous">
    import {template} from './template.js';
    var view = template();
</script> -->

<script type="text/javascript" src="/javascripts/script.js"></script>

<script>

      function initMap() {

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: {lat: 45, lng: 10}
        });

        // Create an array of alphabetical characters used to label the markers.
        var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

        // Add some markers to the map.
        // Note: The code uses the JavaScript Array.prototype.map() method to
        // create an array of markers based on a given "locations" array.
        // The map() method here has nothing to do with the Google Maps API.
        console.log(locations);
        var markers = locations.map(function(location, i) {
          return new google.maps.Marker({
            position: location,
            label: labels[i % labels.length]
          });
        });

        // Add a marker clusterer to manage the markers.
        var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
      }
</script>

<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>

<script async defer
   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAymd_hyKvWoJFgB8bP6n-1HStQJIjWdVo&callback=initMap">
</script>